.post {
    display: flex;
    overflow: hidden;
    margin: 20px 0;
    background-color: white;
    border: 1px solid var(--reddit-grey);
    position: relative;
}

.post .vote {
    width: 35px;
    background-color: var(--reddit-light-grey);
}

.post .content {
    padding: 10px;
}

.post-title {
    padding-bottom: 10px;
    margin: 0;
}

.post-author {
    margin: 5px 0;
    font-size: 12px;
    color: var(--reddit-blue);
}


/* my STYLES */

.post-thumbnail {
    float: right;
    padding: 5px;
    border: 1px solid black;
}

.extra-info {
    color: var(--alt-text-color);
    font-size: 10px;
}

.post-text {
    font-size: 14px;
    margin: 5px 0;
}

.comment-count {
    color: var(--alt-text-color);
    text-decoration: underline;
}
