/* base styles, feel free to edit */

:root {
    --reddit-blue: #0079D3;
    --reddit-orange: #FF5700;
    --reddit-grey: rgba(0, 0, 0, 0.0975);
    --reddit-light-grey: rgba(0, 0, 0, 0.041);
    --reddit-bg-color: #f1f1f7;
    --body-text-size: 12px;
    --alt-text-color: rgba(0, 0, 0, 0.65);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--reddit-bg-color);
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    border-top: 1px solid var(--reddit-grey);
    padding: 10px;
    background-color: white;
    min-height: 50px;
    text-align: right;
}

.alt-text {
    color: var(--alt-text-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 50px;
    border-bottom: 1px solid var(--reddit-grey);
}

#logo {
    color: white;
    font-size: var(--body-text-size);
    width: 40px;
    height: 40px;
    background-color: var(--reddit-orange);
    border-radius: 50%;
}

#search {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
}

#search::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}

#search:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}

.button {
    border: 1px solid var(--reddit-blue);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    font-weight: bold;
}

.button-primary {
    color: var(--reddit-blue);
}

.button-secondary {
    background-color: var(--reddit-blue);
    color: white;
}

.banner>*,
footer>* {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

#feed {
    min-width: 500px;
    max-width: 800px;
    width: 80%;
    margin: 20px auto;
    padding: 0;
}

.feed-header {
    display: flex;
    justify-content: space-between;
}

.feed-title {
    font-weight: normal;
    margin: 0;
}


/* Add your styles here */

.login-form {
    display: none;
}

.sign-up-form {
    display: none;
}


/* Modal Headers */

.login-header {
    padding: 2px 16px;
    background-color: var(--reddit-orange);
    color: white;
}

.sign-up-header {
    padding: 2px 16px;
    background-color: var(--reddit-blue);
    color: white;
}


/* Modal Body */

.modal-body {
    padding: 2px 16px;
}


/* NEW MODAL DESIGN */


/* The Grey Background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    /* background-color: var(--reddit-grey); */
    margin: 5px auto;
    /* 15% from the top and centered */
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    border: 1px solid #888;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
}

.form-field {
    margin: 4px 6px;
}


/* error message for non-logged in users trying to see who upvoted/comments */

.error-msg {
    display: none;
    font-size: 14px;
    color: var(--reddit-blue);
    text-align: center;
}

.comment-header {
    padding: 2px 16px;
    background-color: var(--reddit-grey);
    color: black;
}


/* comment section CSS */

.comment-div {
    width: 80%;
    border: 2px solid var(--reddit-blue);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 8px;
}

.username-text {
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-left: 6px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.date-text {
    margin: 0;
    padding-left: 6px;
    padding-bottom: 8px;
    color: var(--reddit-blue);
    text-decoration: underline;
    font-size: 10px;
}

.comment-text {
    margin: 0;
    padding-left: 6px;
    padding-bottom: 4px;
    color: black;
    font-size: 14px;
}


/* profile CSS */

.profile-box {
    width: 50%;
    border-radius: 5px;
}

.username {
    font-size: 20px;
    text-decoration: bold;
    text-align: center;
}

.no-bullets {
    list-style-type: none;
    margin: 25px;
}

.profile-li {
    color: var(--reddit-blue);
    font-size: 18px;
    text-decoration: bold;
    text-decoration: underline;
    padding-bottom: 10px;
    margin-left: 50px;
}

.post-div {
    border: 2px solid var(--reddit-blue);
    margin: 8px;
}

.post-box {
    border: 2px dotted var(--reddit-blue);
    margin: 8px;
}

.profile-post-title {
    padding-bottom: 10px;
    margin: 0;
}

.profile-alt-text {
    color: var(--alt-text-color);
}

.profile-post-text {
    font-size: 14px;
    margin: 5px 0;
}

.loading-animation {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.make-post-box {
    width: 50%;
    border-radius: 5px;
}

.post-button {
    border: 1px solid var(--reddit-blue);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    font-weight: bold;
    background-color: var(--reddit-blue);
    color: white;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.upload-img-butt {
    color: var(--reddit-blue);
    width: 50%;
    border: 1px solid var(--reddit-blue);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}
